html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(45deg, #136383 0%,#1a9aba 50%,#158bab 51%,#40c7e6 100%);    
}

